<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>gameTitle</key>
        <string>絶滅危惧種ゲーム</string>
        <key>introduction</key>
        <string>世界では今現在も絶滅の危機に瀕している生物種が数多く存在します。国際自然保護連合(IUCN)ではそうした種族を危険度別に分類した「レッドリスト」を公表し、絶滅回避への対応を呼びかけています。</string>
        <key>question</key>
        <string>下記に挙げる生物種を絶滅の危険度が高いとされているものから順に並べなさい。危険度は野生の個体数や繁殖のしやすさをもとに算出されており、養殖されたもの、飼育されているものは含みません。ただし、すでに絶滅したものが含まれている場合は、最も高いランクとなります。</string>
        
        <key>gameFlow</key>
        <array>
            <string>それぞれメンバー個人が動物の順位を予想します</string>
            <string>その後チームで話し合い、チームとしての順位予想を作成します</string>
            <string>個人の結果、チームの結果からそれぞれスコアを計算します</string>
            <string>個人の結果とチームの結果を見比べて考察しましょう</string>
        </array>
        
        <key>animals</key>
        <array>
            <dict>
                <key>order</key>
                <string>1</string>
                <key>name</key>
                <string>ゴクラクインコ</string>
                <key>imageName</key>
                <string>psephotus</string>
                <key>hint</key>
                <string>卵生　3-5個/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>2</string>
                <key>name</key>
                <string>ヒトコブラクダ</string>
                <key>imageName</key>
                <string>camelus</string>
                <key>hint</key>
                <string>胎生　1頭/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>3</string>
                <key>name</key>
                <string>ジャワサイ</string>
                <key>imageName</key>
                <string>rhinoceros</string>
                <key>hint</key>
                <string>胎生　1頭/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>4</string>
                <key>name</key>
                <string>ゴリラ</string>
                <key>imageName</key>
                <string>gorilla</string>
                <key>hint</key>
                <string>胎生　1頭/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>5</string>
                <key>name</key>
                <string>スマトラオランウータン</string>
                <key>imageName</key>
                <string>pongo</string>
                <key>hint</key>
                <string>胎生　1頭/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>6</string>
                <key>name</key>
                <string>アマミノクロウサギ</string>
                <key>imageName</key>
                <string>pentalagus</string>
                <key>hint</key>
                <string>胎生　1頭/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>7</string>
                <key>name</key>
                <string>シロナガスクジラ</string>
                <key>imageName</key>
                <string>balaenoptera</string>
                <key>hint</key>
                <string>胎生　1頭/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>8</string>
                <key>name</key>
                <string>ニホンウナギ</string>
                <key>imageName</key>
                <string>anguilla</string>
                <key>hint</key>
                <string>卵生　100万-300万個/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>9</string>
                <key>name</key>
                <string>コビトカバ</string>
                <key>imageName</key>
                <string>choeropsis</string>
                <key>hint</key>
                <string>胎生　1頭/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>10</string>
                <key>name</key>
                <string>コウノトリ</string>
                <key>imageName</key>
                <string>ciconia</string>
                <key>hint</key>
                <string>卵生　3-5個/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>11</string>
                <key>name</key>
                <string>ワニガメ</string>
                <key>imageName</key>
                <string>macrochelys</string>
                <key>hint</key>
                <string>卵生　8-52個/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>12</string>
                <key>name</key>
                <string>ライオン</string>
                <key>imageName</key>
                <string>panthera</string>
                <key>hint</key>
                <string>胎生　2-3頭/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>13</string>
                <key>name</key>
                <string>マンボウ</string>
                <key>imageName</key>
                <string>mola</string>
                <key>hint</key>
                <string>卵生　3億個/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>14</string>
                <key>name</key>
                <string>バイソン</string>
                <key>imageName</key>
                <string>bison</string>
                <key>hint</key>
                <string>胎生　1頭/回</string>
            </dict>
            <dict>
                <key>order</key>
                <string>15</string>
                <key>name</key>
                <string>キリン</string>
                <key>imageName</key>
                <string>giraffa</string>
                <key>hint</key>
                <string>胎生　1頭/回</string>
            </dict>
        </array>
    </dict>
</plist>
